.container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: blue solid 9px;
}

.containerX{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.CounterXD{
  padding: 5px;
  border: solid black 5px;
  height: 250px;
  width: 220px;
  margin: 5px;

}
